{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Contact US</h1>
                            <p>Stay close</p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="map-section">
        <div class="container">
            <div id="gmap"></div>
            <div class="contact-info">
                <h2>Contacts</h2>
                <address>
                        E-mail: <a href="mailto:theimpact@gmail.com">theimpact@gmail.com</a> <br> 
                        Phone: +91 9826236333 <br> 
                                +91 9827023426 <br> 
                        </address>

                        <h2>Address</h2>
                        <address>
                        54, Bakatwar Ram Nagar, <br> 
                        Near SBI ATM <br> 
                        Indore (M.P) <br> 
                        India  <br> 
                        </address>
            </div>
        </div>
    </section> <!--/#map-section-->        

{% endblock %}
